.hero {
  background-color: "#DEE1E6FF";
}

.header-text {
  font-size: 54px;
  line-height: 76px;
}

.body-image{
    max-width: 100%;
    height: auto;
}

.items{

}

@media (max-width: 768px) {
    .items{
      box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
      border-radius: 10px;
      padding: 10px 10px;
    }
}
